
.v-page{
    max-width: 100%;
    min-height: 100vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    /* padding-bottom: 26px; */
}

video{
    width: 70%;
}

@media (max-width:800px) {
    .v-page{
    max-width: 100%;
    min-height: 30vh;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
}
}
